{
  "openapi": "3.1.0",
  "info": {
    "title": "Stocksmith API",
    "version": "v1",
    "description": "REST API for reading and writing materials, products, recipes, and manufactures."
  },
  "servers": [
    {
      "url": "https://app.craftybase.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal API key (cb_live_...) passed as a Bearer token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "required": [
          "current_page",
          "total_pages",
          "total_count",
          "per_page"
        ],
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Decimal string, e.g. '8.75'"
          },
          "currency_code": {
            "type": "string",
            "description": "ISO 4217 code, e.g. 'USD'"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearer_auth": [

      ]
    }
  ],
  "paths": {
    "/api/v1/account": {
      "get": {
        "summary": "Retrieve the authenticated account",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "account"
                  ],
                  "properties": {
                    "account": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "currency_code",
                        "time_zone"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Account ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Account name"
                        },
                        "currency_code": {
                          "type": "string",
                          "example": "USD",
                          "description": "ISO 4217 currency code"
                        },
                        "time_zone": {
                          "type": "string",
                          "example": "UTC",
                          "description": "IANA time zone name"
                        },
                        "subscription_plan": {
                          "type": "string",
                          "nullable": true,
                          "description": "Subscription plan name, or null if none"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/components": {
      "get": {
        "summary": "List components",
        "tags": [
          "Components"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 25, max: 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "required": false,
            "schema": {
              "enum": [
                "active",
                "archived",
                "all"
              ]
            },
            "description": "Filter by state. Defaults to 'active'."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Partial name filter (case-insensitive substring match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "description": "Exact SKU/code filter (case-insensitive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_name",
            "in": "query",
            "required": false,
            "description": "Partial category name filter (case-insensitive substring match)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "paginated list of components",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "components",
                    "meta"
                  ],
                  "properties": {
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "output_type",
                          "variations",
                          "stock_on_hand",
                          "committed_stock",
                          "available_stock",
                          "low_stock_limit",
                          "state",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string",
                            "nullable": true
                          },
                          "output_type": {
                            "type": "string",
                            "example": "component"
                          },
                          "category": {
                            "type": "string",
                            "nullable": true
                          },
                          "default_variation_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the default active variation, or null if archived"
                          },
                          "variations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "sku": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "default": {
                                  "type": "boolean"
                                },
                                "stock_on_hand": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "committed_stock": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "available_stock": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "low_stock_limit": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "archived"
                                  ]
                                },
                                "attributes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "unit_price": {
                                  "$ref": "#/components/schemas/Money",
                                  "nullable": true,
                                  "description": "Omitted for view-only users."
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            }
                          },
                          "stock_on_hand": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "committed_stock": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "available_stock": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "low_stock_limit": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "active",
                              "archived"
                            ]
                          },
                          "unit_price": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Omitted for view-only users."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/components/{id}": {
      "get": {
        "summary": "Retrieve a component",
        "tags": [
          "Components"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Component ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "component details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "component"
                  ],
                  "properties": {
                    "component": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "output_type",
                        "variations",
                        "stock_on_hand",
                        "committed_stock",
                        "available_stock",
                        "low_stock_limit",
                        "state",
                        "created_at",
                        "updated_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "sku": {
                          "type": "string",
                          "nullable": true
                        },
                        "output_type": {
                          "type": "string",
                          "example": "component"
                        },
                        "category": {
                          "type": "string",
                          "nullable": true
                        },
                        "default_variation_id": {
                          "type": "integer",
                          "nullable": true,
                          "description": "ID of the default active variation, or null if archived"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "sku": {
                                "type": "string",
                                "nullable": true
                              },
                              "default": {
                                "type": "boolean"
                              },
                              "stock_on_hand": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "committed_stock": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "available_stock": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "low_stock_limit": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "archived"
                                ]
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "unit_price": {
                                "$ref": "#/components/schemas/Money",
                                "nullable": true,
                                "description": "Omitted for view-only users."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "stock_on_hand": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "committed_stock": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "available_stock": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "low_stock_limit": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "active",
                            "archived"
                          ]
                        },
                        "unit_price": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Omitted for view-only users."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "component not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/expenses": {
      "get": {
        "summary": "List expenses",
        "tags": [
          "Expenses"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "description": "Requires financial access (view_material_costs permission). Returns 403 if the authenticated user lacks this permission.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 25, max: 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Filter by purchase date on or after this ISO 8601 date (e.g. 2026-01-01)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Filter by purchase date on or before this ISO 8601 date (e.g. 2026-12-31)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "required": false,
            "description": "Filter by last-modified on or after this ISO 8601 timestamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplier_id",
            "in": "query",
            "required": false,
            "description": "Filter by supplier (contact) ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "description": "Filter by line item category ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "paginated list of expenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "expenses",
                    "meta"
                  ],
                  "properties": {
                    "expenses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "paid",
                          "received",
                          "line_items",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "code": {
                            "type": "string",
                            "nullable": true
                          },
                          "purchased_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "estimated_arrival_at": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "supplier_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the supplier contact"
                          },
                          "supplier_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "received": {
                            "type": "boolean"
                          },
                          "notes": {
                            "type": "string",
                            "nullable": true
                          },
                          "amount": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Grand total"
                          },
                          "item_total": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Sum of line item totals"
                          },
                          "tax": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true
                          },
                          "shipping": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true
                          },
                          "discount": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "material_id": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "ID of the material on this line"
                                },
                                "material_name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "material_expense": {
                                  "type": "boolean",
                                  "description": "True when this line is a material purchase"
                                },
                                "category_id": {
                                  "type": "integer",
                                  "nullable": true
                                },
                                "category_name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "quantity": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "unit_price": {
                                  "$ref": "#/components/schemas/Money",
                                  "nullable": true
                                },
                                "total_price": {
                                  "$ref": "#/components/schemas/Money",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "user lacks financial access (view_material_costs permission)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/expenses/{id}": {
      "get": {
        "summary": "Retrieve an expense",
        "tags": [
          "Expenses"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "description": "Requires financial access (view_material_costs permission). Returns 403 if the authenticated user lacks this permission.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Expense ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "expense details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "expense"
                  ],
                  "properties": {
                    "expense": {
                      "type": "object",
                      "required": [
                        "id",
                        "paid",
                        "received",
                        "line_items",
                        "created_at",
                        "updated_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "code": {
                          "type": "string",
                          "nullable": true
                        },
                        "purchased_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "estimated_arrival_at": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "supplier_id": {
                          "type": "integer",
                          "nullable": true,
                          "description": "ID of the supplier contact"
                        },
                        "supplier_name": {
                          "type": "string",
                          "nullable": true
                        },
                        "paid": {
                          "type": "boolean"
                        },
                        "received": {
                          "type": "boolean"
                        },
                        "notes": {
                          "type": "string",
                          "nullable": true
                        },
                        "amount": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Grand total"
                        },
                        "item_total": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Sum of line item totals"
                        },
                        "tax": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true
                        },
                        "shipping": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true
                        },
                        "discount": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true
                        },
                        "line_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "material_id": {
                                "type": "integer",
                                "nullable": true,
                                "description": "ID of the material on this line"
                              },
                              "material_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "material_expense": {
                                "type": "boolean",
                                "description": "True when this line is a material purchase"
                              },
                              "category_id": {
                                "type": "integer",
                                "nullable": true
                              },
                              "category_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "quantity": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "unit_price": {
                                "$ref": "#/components/schemas/Money",
                                "nullable": true
                              },
                              "total_price": {
                                "$ref": "#/components/schemas/Money",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "user lacks financial access (view_material_costs permission)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "expense not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manufactures": {
      "get": {
        "summary": "List manufactures",
        "tags": [
          "Manufactures"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 25, max: 100)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "paginated list of manufactures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "manufactures",
                    "meta"
                  ],
                  "properties": {
                    "manufactures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "product_id",
                          "production_status",
                          "quantity",
                          "actual_quantity",
                          "line_items",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "product_id": {
                            "type": "integer",
                            "description": "ID of the associated product"
                          },
                          "variation_id": {
                            "type": "integer",
                            "nullable": true
                          },
                          "batch_code": {
                            "type": "string",
                            "nullable": true
                          },
                          "production_status": {
                            "type": "string",
                            "description": "e.g. 'planned', 'in_progress', 'completed'"
                          },
                          "quantity": {
                            "type": "string",
                            "description": "Planned quantity (decimal string)"
                          },
                          "actual_quantity": {
                            "type": "string",
                            "description": "Actual completed quantity (decimal string)"
                          },
                          "minutes_worked": {
                            "type": "integer",
                            "nullable": true
                          },
                          "notes": {
                            "type": "string",
                            "nullable": true
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "completed_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "deadline_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "expiry_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "material_id": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "ID of the consumed material"
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Material name"
                                },
                                "sku": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "unit_measure": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "quantity": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "lot_number": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "unit_price": {
                                  "$ref": "#/components/schemas/Money",
                                  "nullable": true,
                                  "description": "Omitted for view-only users."
                                },
                                "actual_unit_price": {
                                  "$ref": "#/components/schemas/Money",
                                  "nullable": true,
                                  "description": "Omitted for view-only users."
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            }
                          },
                          "total_materials_cost": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Omitted for view-only users."
                          },
                          "total_labour_cost": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Omitted for view-only users."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manufactures/{id}": {
      "get": {
        "summary": "Retrieve a manufacture",
        "tags": [
          "Manufactures"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Manufacture ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "manufacture details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "manufacture"
                  ],
                  "properties": {
                    "manufacture": {
                      "type": "object",
                      "required": [
                        "id",
                        "product_id",
                        "production_status",
                        "quantity",
                        "actual_quantity",
                        "line_items",
                        "created_at",
                        "updated_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "product_id": {
                          "type": "integer",
                          "description": "ID of the associated product"
                        },
                        "variation_id": {
                          "type": "integer",
                          "nullable": true
                        },
                        "batch_code": {
                          "type": "string",
                          "nullable": true
                        },
                        "production_status": {
                          "type": "string",
                          "description": "e.g. 'planned', 'in_progress', 'completed'"
                        },
                        "quantity": {
                          "type": "string",
                          "description": "Planned quantity (decimal string)"
                        },
                        "actual_quantity": {
                          "type": "string",
                          "description": "Actual completed quantity (decimal string)"
                        },
                        "minutes_worked": {
                          "type": "integer",
                          "nullable": true
                        },
                        "notes": {
                          "type": "string",
                          "nullable": true
                        },
                        "start_date": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "completed_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "deadline_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "expiry_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "line_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "material_id": {
                                "type": "integer",
                                "nullable": true,
                                "description": "ID of the consumed material"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true,
                                "description": "Material name"
                              },
                              "sku": {
                                "type": "string",
                                "nullable": true
                              },
                              "unit_measure": {
                                "type": "string",
                                "nullable": true
                              },
                              "quantity": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "lot_number": {
                                "type": "string",
                                "nullable": true
                              },
                              "unit_price": {
                                "$ref": "#/components/schemas/Money",
                                "nullable": true,
                                "description": "Omitted for view-only users."
                              },
                              "actual_unit_price": {
                                "$ref": "#/components/schemas/Money",
                                "nullable": true,
                                "description": "Omitted for view-only users."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "total_materials_cost": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Omitted for view-only users."
                        },
                        "total_labour_cost": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Omitted for view-only users."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "manufacture not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/materials": {
      "get": {
        "summary": "List materials",
        "tags": [
          "Materials"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 25, max: 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "required": false,
            "schema": {
              "enum": [
                "active",
                "archived",
                "all"
              ]
            },
            "description": "Filter by state. Defaults to 'active'. 'all' returns active + archived."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Partial name filter (case-insensitive substring match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "description": "Exact SKU/code filter (case-insensitive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_name",
            "in": "query",
            "required": false,
            "description": "Partial category name filter (case-insensitive substring match)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "paginated list of materials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "materials",
                    "meta"
                  ],
                  "properties": {
                    "materials": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "stock_on_hand",
                          "committed_stock",
                          "available_stock",
                          "reorder_level",
                          "state",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string",
                            "nullable": true
                          },
                          "unit_measure": {
                            "type": "string",
                            "nullable": true,
                            "description": "Unit of measure name, e.g. 'grams'"
                          },
                          "category": {
                            "type": "string",
                            "nullable": true
                          },
                          "stock_on_hand": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "committed_stock": {
                            "type": "string",
                            "description": "Decimal string (always '0' for materials)"
                          },
                          "available_stock": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "reorder_level": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "active",
                              "archived"
                            ]
                          },
                          "unit_cost": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Omitted for view-only users."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/materials/{id}": {
      "get": {
        "summary": "Retrieve a material",
        "tags": [
          "Materials"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Material ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "material details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "material"
                  ],
                  "properties": {
                    "material": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "stock_on_hand",
                        "committed_stock",
                        "available_stock",
                        "reorder_level",
                        "state",
                        "created_at",
                        "updated_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "sku": {
                          "type": "string",
                          "nullable": true
                        },
                        "unit_measure": {
                          "type": "string",
                          "nullable": true,
                          "description": "Unit of measure name, e.g. 'grams'"
                        },
                        "category": {
                          "type": "string",
                          "nullable": true
                        },
                        "stock_on_hand": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "committed_stock": {
                          "type": "string",
                          "description": "Decimal string (always '0' for materials)"
                        },
                        "available_stock": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "reorder_level": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "active",
                            "archived"
                          ]
                        },
                        "unit_cost": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Omitted for view-only users."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "material not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ping": {
      "get": {
        "summary": "Health check — verifies the Bearer token is valid",
        "tags": [
          "Ping"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ping",
                    "account_id"
                  ],
                  "properties": {
                    "ping": {
                      "type": "string",
                      "enum": [
                        "pong"
                      ],
                      "description": "Always 'pong'"
                    },
                    "account_id": {
                      "type": "integer",
                      "description": "ID of the authenticated account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/products": {
      "get": {
        "summary": "List products",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 25, max: 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "required": false,
            "schema": {
              "enum": [
                "active",
                "archived",
                "all"
              ]
            },
            "description": "Filter by state. Defaults to 'active'."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Partial name filter (case-insensitive substring match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "description": "Exact SKU/code filter (case-insensitive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_name",
            "in": "query",
            "required": false,
            "description": "Partial category name filter (case-insensitive substring match)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "products",
                    "meta"
                  ],
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "output_type",
                          "variations",
                          "stock_on_hand",
                          "committed_stock",
                          "available_stock",
                          "low_stock_limit",
                          "state",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string",
                            "nullable": true
                          },
                          "output_type": {
                            "type": "string",
                            "description": "e.g. 'product'"
                          },
                          "category": {
                            "type": "string",
                            "nullable": true
                          },
                          "default_variation_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the default active variation, or null if archived"
                          },
                          "variations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "sku": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "default": {
                                  "type": "boolean"
                                },
                                "stock_on_hand": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "committed_stock": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "available_stock": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "low_stock_limit": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "archived"
                                  ]
                                },
                                "attributes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "unit_price": {
                                  "$ref": "#/components/schemas/Money",
                                  "nullable": true,
                                  "description": "Omitted for view-only users."
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            }
                          },
                          "stock_on_hand": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "committed_stock": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "available_stock": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "low_stock_limit": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "active",
                              "archived"
                            ]
                          },
                          "unit_price": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Omitted for view-only users."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/products/{id}": {
      "get": {
        "summary": "Retrieve a product",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "product"
                  ],
                  "properties": {
                    "product": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "output_type",
                        "variations",
                        "stock_on_hand",
                        "committed_stock",
                        "available_stock",
                        "low_stock_limit",
                        "state",
                        "created_at",
                        "updated_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "sku": {
                          "type": "string",
                          "nullable": true
                        },
                        "output_type": {
                          "type": "string",
                          "description": "e.g. 'product'"
                        },
                        "category": {
                          "type": "string",
                          "nullable": true
                        },
                        "default_variation_id": {
                          "type": "integer",
                          "nullable": true,
                          "description": "ID of the default active variation, or null if archived"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "sku": {
                                "type": "string",
                                "nullable": true
                              },
                              "default": {
                                "type": "boolean"
                              },
                              "stock_on_hand": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "committed_stock": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "available_stock": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "low_stock_limit": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "archived"
                                ]
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "unit_price": {
                                "$ref": "#/components/schemas/Money",
                                "nullable": true,
                                "description": "Omitted for view-only users."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "stock_on_hand": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "committed_stock": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "available_stock": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "low_stock_limit": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "active",
                            "archived"
                          ]
                        },
                        "unit_price": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Omitted for view-only users."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/recipes": {
      "get": {
        "summary": "List recipes",
        "tags": [
          "Recipes"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 25, max: 100)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "paginated list of recipes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recipes",
                    "meta"
                  ],
                  "properties": {
                    "recipes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "product_id",
                          "name",
                          "manufacture_batch_quantity",
                          "ingredients",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "product_id": {
                            "type": "integer",
                            "description": "ID of the associated product"
                          },
                          "product_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "variation_id": {
                            "type": "integer",
                            "nullable": true
                          },
                          "variation_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "manufacture_batch_quantity": {
                            "type": "string",
                            "description": "Decimal string"
                          },
                          "manufacture_minutes": {
                            "type": "integer",
                            "nullable": true
                          },
                          "notes": {
                            "type": "string",
                            "nullable": true
                          },
                          "ingredients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "material_id": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "ID of the material ingredient"
                                },
                                "material_name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "quantity": {
                                  "type": "string",
                                  "description": "Decimal string"
                                },
                                "unit": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Unit of measure name"
                                }
                              }
                            }
                          },
                          "total_cost": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Total materials cost. Omitted for view-only users."
                          },
                          "unit_cost": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Per-unit materials cost. Omitted for view-only users."
                          },
                          "total_labour_cost": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Total estimated labour cost. Omitted for view-only users."
                          },
                          "unit_labour_cost": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Per-unit estimated labour cost. Omitted for view-only users."
                          },
                          "total_cogs": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Total cost of goods sold. Omitted for view-only users."
                          },
                          "unit_cogs": {
                            "$ref": "#/components/schemas/Money",
                            "nullable": true,
                            "description": "Per-unit cost of goods sold. Omitted for view-only users."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/recipes/{id}": {
      "get": {
        "summary": "Retrieve a recipe",
        "tags": [
          "Recipes"
        ],
        "security": [
          {
            "bearer_auth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Recipe ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "recipe details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recipe"
                  ],
                  "properties": {
                    "recipe": {
                      "type": "object",
                      "required": [
                        "id",
                        "product_id",
                        "name",
                        "manufacture_batch_quantity",
                        "ingredients",
                        "created_at",
                        "updated_at"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "product_id": {
                          "type": "integer",
                          "description": "ID of the associated product"
                        },
                        "product_name": {
                          "type": "string",
                          "nullable": true
                        },
                        "variation_id": {
                          "type": "integer",
                          "nullable": true
                        },
                        "variation_name": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "manufacture_batch_quantity": {
                          "type": "string",
                          "description": "Decimal string"
                        },
                        "manufacture_minutes": {
                          "type": "integer",
                          "nullable": true
                        },
                        "notes": {
                          "type": "string",
                          "nullable": true
                        },
                        "ingredients": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "material_id": {
                                "type": "integer",
                                "nullable": true,
                                "description": "ID of the material ingredient"
                              },
                              "material_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "quantity": {
                                "type": "string",
                                "description": "Decimal string"
                              },
                              "unit": {
                                "type": "string",
                                "nullable": true,
                                "description": "Unit of measure name"
                              }
                            }
                          }
                        },
                        "total_cost": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Total materials cost. Omitted for view-only users."
                        },
                        "unit_cost": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Per-unit materials cost. Omitted for view-only users."
                        },
                        "total_labour_cost": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Total estimated labour cost. Omitted for view-only users."
                        },
                        "unit_labour_cost": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Per-unit estimated labour cost. Omitted for view-only users."
                        },
                        "total_cogs": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Total cost of goods sold. Omitted for view-only users."
                        },
                        "unit_cogs": {
                          "$ref": "#/components/schemas/Money",
                          "nullable": true,
                          "description": "Per-unit cost of goods sold. Omitted for view-only users."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "recipe not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}