{
  "openapi": "3.1.0",
  "info": {
    "title": "Stocksmith API",
    "version": "v1",
    "description": "REST API for reading and writing materials, products, recipes, and manufactures.\n\nPLACEHOLDER SCHEMA — this file is a temporary stub so the docs site builds. It will be replaced by the schema generated from rswag request specs in craftybase-app (docs/api/openapi.json) and mirrored in by CI."
  },
  "servers": [
    { "url": "https://app.craftybase.com", "description": "Production (rebrand pending)" }
  ],
  "security": [{ "bearer_auth": [] }],
  "paths": {
    "/api/v1/ping": {
      "get": {
        "summary": "Health check",
        "operationId": "getPing",
        "tags": ["Account"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is up",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "status": { "type": "string", "example": "ok" } } }
              }
            }
          }
        }
      }
    },
    "/api/v1/account": {
      "get": {
        "summary": "Get the current account",
        "operationId": "getAccount",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "The account associated with the API key",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "account": { "$ref": "#/components/schemas/Account" } } }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/v1/materials": {
      "get": {
        "summary": "List materials",
        "operationId": "listMaterials",
        "tags": ["Materials"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 25, "maximum": 100 } },
          { "name": "state", "in": "query", "schema": { "type": "string", "enum": ["active", "archived", "all"], "default": "active" } },
          { "name": "name", "in": "query", "description": "Partial, case-insensitive name match.", "schema": { "type": "string" } },
          { "name": "sku", "in": "query", "description": "Exact SKU match.", "schema": { "type": "string" } },
          { "name": "category_name", "in": "query", "description": "Partial category name match.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of materials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "materials": { "type": "array", "items": { "$ref": "#/components/schemas/Material" } },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/v1/materials/{id}": {
      "get": {
        "summary": "Get a material",
        "operationId": "getMaterial",
        "tags": ["Materials"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "A single material",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "material": { "$ref": "#/components/schemas/Material" } } }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal API key (cb_live_...) passed as a Bearer token."
      }
    },
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": { "type": "integer", "example": 1 },
          "total_pages": { "type": "integer", "example": 4 },
          "total_count": { "type": "integer", "example": 87 },
          "per_page": { "type": "integer", "example": 25 }
        }
      },
      "Material": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 19029036 },
          "name": { "type": "string", "example": "Beeswax" },
          "sku": { "type": "string", "nullable": true, "example": "BW-1KG" },
          "stock_on_hand": { "type": "string", "example": "12.5" },
          "committed_stock": { "type": "string", "example": "2.0" },
          "available_stock": { "type": "string", "example": "10.5" },
          "unit_cost": {
            "type": "object",
            "nullable": true,
            "properties": {
              "amount": { "type": "string", "example": "4.20" },
              "currency_code": { "type": "string", "example": "USD" }
            }
          },
          "state": { "type": "string", "enum": ["active", "archived"], "example": "active" }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 12054075 },
          "name": { "type": "string", "example": "Bee Happy Co." },
          "currency_code": { "type": "string", "example": "USD" },
          "time_zone": { "type": "string", "example": "America/New_York" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "Invalid or revoked API key" }
        }
      }
    }
  }
}
